@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  background-color: #303030;

}

.navbar-default{
    border: none;
}

.collapse ul li:hover{
  background-color: #e7e7e7;
  color: #fff;
}

#logo{
  color: #cdc8b1;
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover{
  color: #fff;
  
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('fire.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1{
  color: #fff;
  margin-bottom: 50px;
}

.btn-xlarge{
  font-size: 1.2em;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top:10px;
}

.description{
  margin-top:0;
  
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding: 10px 0px 15px 0px;
}

.listing{
  list-style: none;
  padding-left: 0;
}

footer{
  background-color: #303030 !important;
  color: #fff;
  text-align: center;
  padding: 10px;
  
}
